#transcriptionResult {
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 10px 10px 2em;
    font-family: monospace;
    font-size: 15px;

    max-height: 400px;
    overflow-y: auto;
}

#summaryResult {
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    background-color: #e5f5e5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 10px 10px 2em;
    font-family: monospace;
    font-size: 15px;

    max-height: 200px;
    overflow-y: auto;
}

#recordButton.recording {
    background-color: red;
    color: white;
}